/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; background: white; min-width: 1005px; }

.container, .header .header__in, .footer .footer__in { width: 985px; padding: 0 10px; margin: 0 auto; }

.header { position: relative; background: white; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); z-index: 10; }
.header .header__in { *zoom: 1; padding-top: 14px; padding-bottom: 14px; line-height: 1; }
.header .header__in:after { content: " "; display: table; clear: both; }
.header .header__logo { display: inline-block; vertical-align: top; background: url('../img/icons-sd9909c5f23.png') 0 0 no-repeat; width: 229px; height: 44px; margin-right: 40px; }
.header .header__logo a { display: block; height: 100%; }
.header .header__menu { display: inline-block; vertical-align: top; padding-top: 23px; }
.header .header__menu-clause { display: inline-block; margin-left: 20px; font-size: 14px; color: #282828; }
.header .header__menu-clause:first-child { margin-left: 0; }
.header .header__menu-clause a { color: inherit; text-decoration: none; }
.header .header__right { float: right; }
.header .header__contacts { display: inline-block; vertical-align: top; margin-right: 35px; }
.header .header__tel { position: relative; font-size: 22px; }
.header .header__tel:before { position: absolute; top: 50%; right: 100%; margin-right: 10px; margin-top: -12px; background: url('../img/icons-sd9909c5f23.png') 0 -92px no-repeat; width: 24px; height: 24px; content: ""; }
.header .header__callback { font-size: 13px; color: #939393; }
.header .header__callback a { color: inherit; text-decoration: none; }

.feedback { display: inline-block; vertical-align: top; line-height: 30px; height: 30px; font-size: 0; }
.feedback .feedback__label { display: inline-block; vertical-align: top; font-size: 10px; text-transform: uppercase; color: white; font-weight: bold; padding: 0 15px; -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -ms-border-radius: 0 5px 0 0; -o-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1b1b1b), color-stop(100%, #6a6a6a)); background-image: -webkit-linear-gradient(bottom, #1b1b1b 0%, #6a6a6a 100%); background-image: -moz-linear-gradient(bottom, #1b1b1b 0%, #6a6a6a 100%); background-image: -o-linear-gradient(bottom, #1b1b1b 0%, #6a6a6a 100%); background-image: linear-gradient(bottom, #1b1b1b 0%, #6a6a6a 100%); }
.feedback .feedback__icon { display: inline-block; vertical-align: top; width: 32px; height: 30px; position: relative; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; -webkit-box-shadow: inset 0 1px 1px #ffd200; -moz-box-shadow: inset 0 1px 1px #ffd200; box-shadow: inset 0 1px 1px #ffd200; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f2a900), color-stop(99.46%, #ffde2a), color-stop(100%, #ffde2a)); background-image: -webkit-linear-gradient(bottom, #f2a900 0%, #ffde2a 99.46%, #ffde2a 100%); background-image: -moz-linear-gradient(bottom, #f2a900 0%, #ffde2a 99.46%, #ffde2a 100%); background-image: -o-linear-gradient(bottom, #f2a900 0%, #ffde2a 99.46%, #ffde2a 100%); background-image: linear-gradient(bottom, #f2a900 0%, #ffde2a 99.46%, #ffde2a 100%); }
.feedback .feedback__icon:before { display: block; background: url('../img/icons-sd9909c5f23.png') 0 -126px no-repeat; width: 16px; height: 19px; content: ""; margin: 5px auto; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -155px; }

.footer, .site_push { height: 155px; }

.footer { background: url("../img/footer_line.png") top center repeat-x; }
.footer .footer__in { padding-top: 50px; padding-bottom: 50px; *zoom: 1; font-size: 13px; color: #7a7979; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
.footer .footer__info { display: inline-block; vertical-align: top; margin-right: 70px; }
.footer .footer__tel { font-size: 22px; color: black; }
.footer .footer__menu { display: inline-block; vertical-align: top; }
.footer .footer__menu-clause { display: inline-block; margin-left: 15px; }
.footer .footer__menu-clause:first-child { margin-left: 0; }
.footer .footer__menu-clause a { color: inherit; text-decoration: underline; }
.footer .footer__madeby { float: right; background: url('../img/icons-sd9909c5f23.png') 0 -54px no-repeat; width: 119px; height: 28px; }
.footer .footer__madeby a { display: block; height: 100%; }

.page { padding-bottom: 50px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-main { float: left; width: 715px; }
.l .l-sidebar { float: right; width: 200px; }
