body
	font-size: 12px
	font-family: Arial, sans-serif
	line-height: 1.4
	background: #fff
	min-width: 1005px

%in
	width: 985px
	padding: 0 10px
	margin: 0 auto
.container
	@extend %in

// 715+200+70
.header

.topline
	.container
		+clr
		padding-top: 14px
		padding-bottom: 14px
	.topline__right
		float: right
	.topline__contact
		display: inline-block
		vertical-align: top
	.topline__tel
	.topline__callback
	.topline__order
		display: inline-block
		vertical-align: top

.logo
	display: inline-block
	vertical-align: top
	+s(logo)
	margin-right: 40px
	a
		display: block
		height: 100%

.nav
	display: inline-block
	vertical-align: top
	padding-top: 23px
	li
		display: inline-block
		margin-left: 20px
		font-size: 14px
		color: #282828
		&:first-child
			margin-left: 0
		a
			color: inherit
			text-decoration: none
